1. Title: Zoo database

      Class# Set of animals:
      ====== ===============================================================
           1 (41) aardvark, antelope, bear, boar, buffalo, calf,
                  cavy, cheetah, deer, dolphin, elephant,
                  fruitbat, giraffe, girl, goat, gorilla, hamster,
                  hare, leopard, lion, lynx, mink, mole, mongoose,
                  opossum, oryx, platypus, polecat, pony,
                  porpoise, puma, pussycat, raccoon, reindeer,
                  seal, sealion, squirrel, vampire, vole, wallaby,wolf
           2 (20) chicken, crow, dove, duck, flamingo, gull, hawk,
                  kiwi, lark, ostrich, parakeet, penguin, pheasant,
                  rhea, skimmer, skua, sparrow, swan, vulture, wren
           3 (5)  pitviper, seasnake, slowworm, tortoise, tuatara 
           4 (13) bass, carp, catfish, chub, dogfish, haddock,
                  herring, pike, piranha, seahorse, sole, stingray, tuna
           5 (4)  frog, frog, newt, toad 
           6 (8)  flea, gnat, honeybee, housefly, ladybird, moth, termite, wasp
           7 (10) clam, crab, crayfish, lobster, octopus,
                  scorpion, seawasp, slug, starfish, worm

5. Number of Instances: 101

6. Number of Attributes: 18 (animal name, 15 Boolean attributes, 2 numerics)

7. Attribute Information: (name of attribute and type of value domain)

  01. animal name:  Unique for each instance
  02. hair		    Boolean
  03. feathers		Boolean
  04. eggs		    Boolean
  05. milk		    Boolean
  06. airborne		Boolean
  07. aquatic		Boolean
  08. predator		Boolean
  09. toothed		Boolean
  10. backbone		Boolean
  11. breathes		Boolean
  12. venomous		Boolean
  13. fins		    Boolean
  14. legs		    Numeric (set of values: {0,2,4,5,6,8})
  15. tail		    Boolean
  16. domestic		Boolean
  17. catsize		Boolean
  18. type		    Numeric (integer values in range [1,7])

8. Missing Attribute Values: None
9. Class Distribution: Given above

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# data visualization
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

from sklearn import metrics

# ML Algorithms
from sklearn import linear_model
from sklearn.ensemble import RandomForestClassifier

In [8]:
df=pd.read_csv("./zoo/zoo.data") #load train data
df.shape
dfCopy = df.copy() # make train data copies

In [13]:
dfCopy.columns = ['name', 'hair','feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize','type']
dfCopy.head(5)

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
1,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
2,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [29]:
type01='1'
type02='2'
type03='3'
type04='4'
type05='5'
type06='6'
type07='7'
lt=[]
i=0
for i in range(100):
    lt.append(i)
import matplotlib.pyplot as plt
types = [1,2,3,4,5,6,7,8]
instances = lt
index = lt
df = dfCopy({'legs': Legs,'type': Type}, index=index)
ax = df.plot.bar(rot=0)

NameError: name 'Legs' is not defined